<footer>
   <div class="container">
      <div class="footer">
         <div class="footer-sitemap">
            <div class="footerSiteMap"></div>
            <div class="footerSiteMap"></div>
            <div class="footerSiteMap"></div>
            <div class="footerSiteMap"></div>
         </div>
         <div class="footer-social">
            <div class="title">Follow us:</div>
            <ul class="social">
               <li>
                  <a href="https://www.facebook.com/oomainc" class="facebook">Facebook</a>
               </li>
               <li>
                  <a href="https://twitter.com/Ooma" class="twitter">Twitter</a>
               </li>
               <li>
                  <a href="https://www.linkedin.com/company/ooma" class="linkedin">LinkedIn</a>
               </li>
               <li>
                  <a href="https://plus.google.com/+OomaInc/posts" class="googleplus">Google+</a>
               </li>
               <div class="break"></div>
               <li>
                  <a href="https://www.youtube.com/user/oomaTV" class="youtube">YouTube</a>
               </li>
               <li>
                  <a href="https://www.pinterest.com/OomaInc/" class="pinterest">Pinterest</a>
               </li>
               <li>
                  <a href="https://instagram.com/oomaphone" class="instagram">Instagram</a>
               </li>
            </ul>
            <div class="copyright">
               Copyright © 2017 Ooma, Inc. All Rights Reserved.
               <ul>
                  <li>
                     <a href="http://www.ooma.com/terms/">Terms of Use</a>
                  </li>
                  <li>
                     <a href="http://www.ooma.com/privacy-policy/">Privacy Policy</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>