<div class="row">
	<div class="col-sm-12 col-md-3 col-lg-3 leftnav">
					<div class="support_search">
						<label>SEARCH SUPPORT</label>
						<input type="text" placeholder="Type to search" class="st-default-search-input" style="width:80%;height:16px;">
<!--
						<input type="submit" value="Submit">
-->
					</div>
					
						<div class="support_chat">
							<div class="title">
								WE'RE HERE TO HELP
							</div>
							Can't find what you are looking for? We're happy to help.
							<form action="http://ooma1.custhelp.com/app/chat/chat_launch">
								<input class="blue" type="submit" value="Live Chat">
							</form>
						</div>

					<div class="panel-group" id="accordion">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
<!--									<a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">Support Overview</a>  -->
									<a href="/">Support Overview</a>
								</h4>
							</div>
							<div id="accordionOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul>
										<li><a href="/">Ooma Office for WeWork</a></li>
										<li><a href="/contact-us">Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>