<div class="row">
	<div class="col-sm-12 col-md-3 col-lg-3 leftnav">
		<div class="support_search">
			<label>SEARCH SUPPORT</label>
			<input type="text" placeholder="Type to search" class="st-default-search-input" style="width:80%;height:16px;">
<!--
			<input type="submit" value="Submit">
-->
		</div>

		<div class="panel-group" id="accordion">
			<div class="panel">
				<div class="panel-heading">
					<h4>
						Select Country
					</h4>
				</div>
			</div>
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#">United States</a>
					</h4>
				</div>
				<div id="accordionOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul>
							<li style="margin-left:20px;"><a href="/us/en">English</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#">Canada</a>
					</h4>
				</div>
				<div id="accordionTwo" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul>
							<li style="margin-left:20px;"><a href="/us/en">English</a></li>
<!--							<li style="margin-left:20px;"><a href="/ca/en">English</a></li>  -->
<!--							<li style="margin-left:20px;"><a href="/ca/fr">French</a></li>  -->
						</ul>
					</div>
				</div>
			</div>
			
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#">France</a>
					</h4>
				</div>
				<div id="accordionThree" class="panel-collapse collapse in">
					<div class="panel-body">
						<ul>
							<li style="margin-left:20px;"><a href="/fr/en">English</a></li>
							<li style="margin-left:20px;"><a href="/fr/fr">French</a></li>
						</ul>
					</div>
				</div>
			</div>			
	</div>
</div>