<div class="row">
	<div class="col-sm-12 col-md-3 col-lg-3 leftnav">
					<div class="support_search">
						<label>SEARCH SUPPORT</label>
						<input type="text" placeholder="Type to search" class="st-default-search-input" style="width:80%;height:16px;">
<!--
						<input type="submit" value="Submit">
-->
					</div>

					<div class="panel-group" id="accordion">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
<!--									<a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">Support Overview</a>  -->
									<a href="/">Select Country</a>
								</h4>
							</div>
							<div id="accordionOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul>
										<li><a href="/us/en">US and Canada</a></li>
										<li><a href="/fr/fr/">France</a></li>
										<li><a href="/contact-us">Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>