<!-- modal -->
<div id="choose-product" class="md-modal md-effect">
  <div class="md-content">
    <h3>Which service can we help you with?</h3>
    <div class="products">
      <div class="product">
        <img src="assets/images/telo-landing.jpg" />
        <a class="btn btn-telo" href="/home">ooma telo</a>
      </div>
      <div class="product">
        <img src="assets/images/office-landing.jpg" />
        <a class="btn btn-office" href="/office">ooma office</a>
      </div>
    </div>

  </div>
</div>
<div class="md-overlay"></div>
