html {
	overflow-x: hidden;
}

body {
	background: #e7e7e7;
	color: #333;
	font-size: 16px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-family: inherit;
	font-weight: 500;
}

h1 {
	margin-top: 0px;
}

img {
	max-width: 100%;
}
select.select-style {
	padding: 5px 37px 5px 8px;
	-webkit-appearance: none !important;
	width: 100%;
	height: 40px;
	color: #000;
	font-size: 16px;
	background: transparent;
	border: 0;
	overflow: hidden;
	outline: none;
}
::-webkit-input-placeholder {
	color: #9da6ae;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #9da6ae;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9da6ae;
}

:-ms-input-placeholder {
	color: #9da6ae;
}

html, button, input, select, textarea {
	font-family: sans-serif;
}
input[type=text] {
	border-bottom: 0;
	border-left: 1px solid #ebeaea;
	border-right: 1px solid #ebeaea;
	border-top: 1px solid #d6d5d5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	height: 38px;
	font-size: 12px;
	text-indent: 10px;
	margin-bottom: 20px;
}

input[type=submit] {
	font-family: "Century Gothic W01", san-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 55px;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	background: #1dafec;
	border: 0;
	margin-top: 10px;
	letter-spacing: 0.1em;
}
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type=submit]:hover {
	background: #2fb7ee;
}
input[type=submit].red {
	background: #b32317;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	font-size: 15px;
	display: block;
	margin-bottom: 10px;
	background: url("/assets/images/checkbox.png") no-repeat 0 2px;
	padding-left: 20px;
	cursor: pointer;
}
input[type=checkbox] + label.italic {
	font-size: 10px;
	font-style: italic;
}
input[type=checkbox] + label.checked {
	background: url("/assets/images/checkbox-checked.png") no-repeat 0 2px;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	font-size: 15px;
	display: block;
	margin-bottom: 10px;
	background: url("/assets/images/checkbox.png") no-repeat 0 2px;
	padding-left: 20px;
	cursor: pointer;
}
input[type=radio] + label.italic {
	font-size: 10px;
	font-style: italic;
}
input[type=radio] + label.checked {
	background: url("/assets/images/checkbox-checked.png") no-repeat 0 2px;
}

#page {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 8px;
/*	font-size: 0; */
.wrap {
	background: #FFF;
	width: 100%;
	max-width: 1284px;
	border-bottom: 2px solid #015581;
	&:before, &:after  {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	header {
		height: 100px;
		width: 100%;
		font-size: 0;
		background: #FFF;
		text-align: left;
		position: relative;
		z-index: 500;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		.menu-btn {
			display: none;
		}
		#logo {
			display: inline-block;
			width: 35%;
			height: 100px;
			padding: 25px 0 0 5.06231%;
			a {
				display: block;
				height: 48px;
				background: url("/assets/images/ooma_x_wework-logo.png") no-repeat 0px 0px;
			}
		}
		.toolbar {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			height: 100px;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 0;
				padding-left: 7.55287%;
				li {
					display: inline-block;
					font-size: 11px;
					padding-top: 45px;
					padding-right: 7.55287%;
					a {
						color: rgb(153, 144, 144);
						text-transform: uppercase;
						display: block;
						font-size: 12px;
						font-family: "Century Gothic W01 Bold", san-serif;
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
					a.support-link {
						color: #005581;
					}
					a.cart {
						width: 18px;
						height: 18px;
						text-indent: -9999px;
						background: url("/assets/images/icon-cart-18x18.png") 0 -3px no-repeat;
					}
					a.support {
						color: #005581;
				  		padding: 0;
					}
					a.forLogin {
						&:hover, &.hover {
							color: #2eb5ec;
						}
					}
					ul {
						display: none;
						position: absolute;
						width: 120px;
						margin: 10px 0 0 -10px;
						padding: 8px 0 8px 1.2%;
						background: #FFF;
						-webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						-moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						-moz-border-radius: 8px;
						-webkit-border-radius: 8px;
						border-radius: 8px;
						li {
							border: 0;
							clear: both;
							display: block;
							margin: 0;
							padding: 0;
							text-align: left;
							width: 100px;
  							padding-top: 9px;
							a {
								display: block;
								text-align: left;
								font-size: 12px;
								font-family: "Century Gothic W01 Bold", san-serif;
								color: rgb(153, 144, 144);
								text-transform: uppercase;
								&:hover {
									color: #2eb5ec;
								}
							}
						}
					}
				}
			}
		}
		nav {
			display: inline-block;
			width: 35%;
			vertical-align: top;
			font-family: "Century Gothic W01", san-serif;
			height: 100%;
			ul {
				margin: 6px 0 0 0;
				padding: 0;
				list-style: none;
				font-size: 16px;
				width: 100%;
				max-width: 555px;
				font-size: 0;
				display: table;
				table-layout: fixed;
				li {
					display: table-cell;
					text-align: center;
					margin: 0;
					position: relative;
					padding: 37px 6.00601% 0 6.00601%;
					a {
						white-space: nowrap;
						text-align: center;
						font-size: 17px;
						text-decoration: none;
						text-transform: uppercase;
						color: #4a4d4e;
						padding-bottom: 15px;
						&:hover, &.hover {
							text-decoration: none;
							color: #015581;
						}
					}
					a.forHome {
						&:hover, &.hover {
							color: #2eb5ec;
						}
					}
					a.forBusiness {
						&:hover, &.hover {
							color: #b02217;
						}
					}
					a.forShop {
						&:hover, &.hover {
							color: #2eb5ec;
						}
					}
					a.searchBtn {
						background: url("/assets/images/icon-search-14x14.png") no-repeat 0 0px;
						text-indent: -99999px;
						width: 14px;
						height: 20px;
						padding: 0;
						display: block;
						&:hover {
							background: url("/assets/images/icon-search-14x14.png") 0 -20px no-repeat;
						}
						&.is-active {
							background: url("/assets/images/icon-search-14x14.png") 0 -20px no-repeat;
						}
					}
					ul {
						display: none;
						position: absolute;
						width: 180px;
						margin: 10px 0 0 -10px;
						padding: 8px 0;
						background: #FFF;
						-webkit-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						-moz-box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5) ;
						-moz-border-radius: 8px;
						-webkit-border-radius: 8px;
						border-radius: 8px;
						li {
							border: 0;
							clear: both;
							display: block;
							margin: 0;
							padding: 0;
							text-align: left;
							a {
								display: block;
								text-align: left;
								padding: 8px 20px;
								font-size: 12px;
								color: #333;
								text-transform: none;
								&:hover {
									color: #2eb5ec;
								}
							}
						}
					}
					#searchBox {
						position: absolute;
						top: 100px;
						left: 0px;
						width: 360px;
						padding: 10px;
						background: #005581;
						font-size: 16px;
					}
					input[type=text] {
						margin-bottom: 0;
						font-size: 12px;
					}
				}
			}
		}
			// > nav ul li:last-child {
			// 	padding-left: 0;
			// 	text-align: left;
			// 	border: none;
			// }
		}
	}
}
.pushy {
	position: fixed;
	width: 270px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #e7e7e7;
	font-size: 0.9em;
	font-weight: bold;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.pushy-left {
	-webkit-transform: translate3d(-270px, 0, 0);
	-moz-transform: translate3d(-270px, 0, 0);
	-ms-transform: translate3d(-270px, 0, 0);
	-o-transform: translate3d(-270px, 0, 0);
	transform: translate3d(-270px, 0, 0);
}

.pushy-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.container-push, .push-push {
	-webkit-transform: translate3d(270px, 0, 0);
	-moz-transform: translate3d(270px, 0, 0);
	-ms-transform: translate3d(270px, 0, 0);
	-o-transform: translate3d(270px, 0, 0);
	transform: translate3d(270px, 0, 0);
}

/* Menu Transitions */
.pushy, #container, .push {
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	-o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
	display: none;
}

.pushy-active .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-animation: fade 500ms;
	-moz-animation: fade 500ms;
	-o-animation: fade 500ms;
	animation: fade 500ms;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.menu-btn {
	display: none;
}
.pushy {
	padding-bottom: 100px;
}
.pushy .search-mobile {
	padding: 30px;
	display: block;
	border-bottom: 1px solid #ced2d6;
}
.pushy .search-mobile input[type=text] {
	width: 100%;
	height: 40px;
	border: 0;
	margin: 0;
	padding-left: 40px;
	outline: none;
	font-size: 18px;
	color: #333;
	font-weight: normal;
	background: url("/assets/images/icon-mobile-search.png") no-repeat left center #e7e7e7;
}
.pushy ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pushy ul li {
	border-bottom: 1px solid #ced2d6;
	padding: 15px;
	font-weight: 400;
}
.pushy ul li a {
	font-size: 18px !important;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 0;
	display: block;
}
.pushy ul li ul {
	margin-bottom: 0px;
	margin-top: 2px;
}
.pushy ul li ul li {
	padding: 10px 0;
	border-bottom: 0;
	font-weight: 400;
}
.pushy ul li ul li a {
	font-size: 16px !important;
	font-weight: normal;
	line-height: 20px;
	color: #005581;
	padding: 5px 10px;
	display: block;
}
.pushy ul li ul li:last-child {
	padding-bottom: 0 !important;
}

/* Swiftype CSS overrides */

.st-ui-type-detail {
	font-size:11px !important;
}

.st-default-autocomplete{
	width:300px !important;
}


.support_chat {
	padding: 15px;
	background: #f5f4f4;
	font-size: 12px;
	.title {
		font-size: 18px;
		color: #015581;
		font-family: "Century Gothic W01", san-serif;
		text-transform: uppercase;
		margin-bottom: 20px;
		strong {
			font-family: "Century Gothic W01 Bold", san-serif;
		}
	}
	p, label {
		font-size: 12px;
		font-weight: normal;
	}
	form input {
		background: #1dafec url(/assets/images/chat.png) 25px 10px;
		background-repeat: no-repeat;
		font-family: "Century Gothic W01 Bold", san-serif;
		&:hover {
			background: #2fb7ee url(/assets/images/chat.png) 25px 10px;
			background-repeat: no-repeat;
		}
	}
}

.support {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0px 8px;
/*	font-size: 0; */
section {
	width: 100%;
	background: #FFF;
	padding: 60px 0 80px 0;
	.container {
		width: 1065px;
		.leftnav {
			.support_search {
				padding: 15px;
				margin-bottom: 5px;
				background: #f5f4f4;
				label {
					font-size: 18px;
					text-transform: uppercase;
					color: #015581;
					margin-bottom: 15px;
					display: block;
					font-weight: normal;
				}
				input[type=text] {
					margin-bottom: 15px;
				}
				input[type=submit] {
					font-family: "Century Gothic W01 Bold", san-serif;
				}
			}
			.panel-group {
				margin-top: 10px;
				border-right: 1px solid #f5f4f4;
				.panel {
					box-shadow: none;
					.panel-heading {
						.panel-title {
							a {
								color: #015581;
								font-size: 18px;
								font-family: "Century Gothic W01", san-serif;
								text-decoration: none;
							}
						}
					}
					.icon-arrow {
						background: url("/assets/images/arrow.png") 170px 15px no-repeat;
						border-top: 3px solid #f5f4f4;
						border-bottom: 3px solid #f5f4f4;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
					.panel-body {
						padding: 0 15px;
						border-top: none;
						ul {
							margin: 0;
							padding: 0;
							list-style: none;
							.active {
								color: #005581;
							}
							li {
								color: #015581;
								font-size: 18px;
								font-family: "Century Gothic W01", san-serif;
								a {
									color: #333;
									font-size: 14px;
									font-family: 'Open Sans', sans-serif;
									text-decoration: none;
									margin-bottom: 5px;
									&:hover {
										color: #005581;
									}
								}
							}
							li.title {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
			.selectWrap {
				width: 100%;
				overflow: hidden;
				vertical-align: middle;
				border: 1px solid #CCC;
				background: url("/assets/images/select-dropdown-20x20.png") no-repeat right center #FFF;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				outline: none;
				display: none;
			}
		}
		.contentMain {
			h2.blue {
				color: #005581;
			}
			p {
				line-height: 1.5em;
				font-size: 16px;
				color: #333;
				margin: 1em 0;
			}
			.home-description {
				margin-top: 45px;
				margin-bottom: 20px;
				h3 {
					margin: 0;
					padding: 0;
					font-size: 21px;
					font-family: "Century Gothic W01", san-serif;
					font-weight: 400;
					color: #005581;
				}
				a.more {
					background: url("/assets/images/icon-arrow-darkblue-11x11.png") no-repeat right 4px;
					padding-right: 20px;
					margin-top: 8px;
					font-size: 14px;
					font-weight: 600;
					text-transform: uppercase;
					color: #015581;
				}
			}
			hr {
				color: #f5f4f4;
				background-color: #f5f4f4;
				height: 3px;
				border: 0;
				display: block;
				width: 100%;
				clear: both;
				margin: 25px 0 40px 0;
				float: left;
				background: url("/assets/images/bg-hr.gif");
			}
			.helpModule {
				width: 100%;
				display: table;
				.icon {
					display: table-cell;
					width: 132px;
					padding-right: 40px;
					vertical-align: top;
					margin-bottom: 30px;
					img {
						max-width: 100%;
					}
				}
				.desc {
					display: table-cell;
					vertical-align: top;
					h3 {
						margin: 0;
						padding: 0;
						font-size: 21px;
						font-family: "Century Gothic W01", san-serif;
						font-weight: 400;
						color: #005581;
					}
					a.more {
						background: url("/assets/images/icon-arrow-darkblue-11x11.png") no-repeat right 4px;
						padding-right: 20px;
						margin-top: 8px;
						font-size: 14px;
						font-weight: 600;
						text-transform: uppercase;
						color: #015581;
					}
				}
			}
		}
	}
}
}

footer {
	background: #9da6ae;
	width: 100%;
	font-size: 16px;
	padding: 40px 0;
	font-family: "Century Gothic W01", san-serif;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	.container {
		width: 100%;
		max-width: 1284px;
		margin: 0 auto;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		.footer {
			display: block;
			margin: 0 8.33333%;
			font-size: 0;
			vertical-align: top;
			overflow: hidden;
			position: relative;
			zoom: 1;
			.break {
				display: none;
			}
			.footer-sitemap, .footer-social {
				width: 50%;
			}
			.footer-sitemap {
				float: right;
			}
			.footer-social {
				float: left;
				.title {
					font-size: 16px;
					font-weight: 300;
					text-transform: uppercase;
					color: #FFF;
					opacity: 0.5;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
					margin-bottom: 15px;
				}
				ul.social {
					font-size: 0;
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: inline-block;
						font-size: 16px;
						margin-left: 7px;
						&:first-child {
							margin-left: 0;
						}
						a {
							width: 46px;
							height: 46px;
							display: block;
							text-indent: -9999px;
							&.facebook {
								background: url("/assets/images/icon-facebook-46x46.png") 0 0 no-repeat;
							}
							&.twitter {
								background: url("/assets/images/icon-twitter-46x46.png") 0 0 no-repeat;
							}
							&.linkedin {
								background: url("/assets/images/icon-linkedin-46x46.png") 0 0 no-repeat;
							}
							&.googleplus {
								background: url("/assets/images/icon-googleplus-46x46.png") 0 0 no-repeat;
							}
							&.youtube {
								background: url("/assets/images/icon-youtube-46x46.png") 0 0 no-repeat;
							}
							&.pinterest {
								background: url("/assets/images/icon-pinterest-46x46.png") 0 0 no-repeat;
							}
							&.instagram {
								background: url("/assets/images/icon-instagram-46x46.png") 0 0 no-repeat;
							}
						}
					}
				}
				.copyright {
					margin-top: 30px;
					font-size: 12px;
					color: #FFF;
					font-family: 'Open Sans', sans-serif;
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						font-size: 0;
						margin-top: 10px;
						li {
							display: inline-block;
							font-size: 12px;
							border-left: 1px solid #FFF;
							margin: 0;
							padding: 0 10px 0 10px;
							&:first-child {
								border-left: 0;
								padding-left: 0;
							}
							a {
								color: #FFF;
								font-size: 12px;
								text-decoration: none;
								text-indent: 0;
								width: auto;
								height: auto;
								line-height: 0.80em;
								padding-top: 3px;
							}
						}
					}
				}
			}
			.footerSiteMap {
				float: left;
				width: 24.90421%;
				padding-right: 3.83142%;
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					margin-bottom: 15px;
					li {
						font-size: 12px;
						font-family: "Century Gothic W01", san-serif;
						margin-bottom: 3px;
						a {
							color: #FFF;
							font-weight: 300;
							font-size: 12px;
						}
						a.sectionTitle {
							font-weight: 600;
							margin-bottom: 5px;
							text-transform: uppercase;
							padding: 0;
							font-family: "Century Gothic W01", san-serif;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
}

// Trobleshoot
.landing-description {
	border-bottom: 4px solid #f5f4f4;
	padding-bottom: 20px;
}
.landing-content {
	p {
		border-top: 1px solid #000;
	}
	h3 {
		font-size: 18px;
		font-family: "Century Gothic W01", san-serif;
		font-weight: 400;
		color: #005581;
	}
	ul {
		padding-left: 20px;
		font-size: 15px;
		li {
			color: #333333;
			a {
				line-height: 24px;
			}
		}
	}
	a.more {
		color: #015581;
		margin-top: 8px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		padding-right: 20px;
		cursor: pointer;
		background: url("/assets/images/icon-arrow-darkblue-11x11.png") no-repeat right 4px;
	}
	.landing-list {
		margin-bottom: 60px;
	}
	.video-row {
		padding-left: 40px;
		
		.video {
			float: left;
			padding-right: 20px;
			text-align: center;
			display: block;
			
			p {
				border: none;
				margin-top:0em;
			}
		}		
	}
}

.facetvalues {
	padding-top:2px;
	padding-bottom:2px;
	overflow:hidden;
}

.slidermenu{
	font-size:20px;
	color:blue;
}

// Activation and Setup
.tab-bar {
	margin-top: 20px;
	.btn {
		width: 175px;
		padding:10px 20px 10px 20px;
		margin-left: 0 !important;
		&:first-child {
			padding: 10px 22px 10px 22px;
		}
		&:last-child {
			padding:10px 18px 10px 24px;
			border-right: 1px solid #cccccc;
		}
		&:active, &.active, &:focus, &.focus, &:visited, &.visited {
			box-shadow: none !important;
		}
	}
	.btn:not(:last-child):before {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		border-left: 11px solid #dfacac;
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 3;
	}
	.btn:not(:last-child):after {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		border-left: 10px solid #f5f4f4;
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 3;
	}
	.steps {
		position: relative;
		float: left;
		display: inline-block;
		padding: 10px 14px;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "Century Gothic W01 Bold", san-serif;
		background: #005581;
		border-left: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-radius: 0;
	}
	.triangle {
		display: inline-block;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 10px solid #005581;
		position: absolute;
		top: 0px;
		z-index: 3;
	}
	a {
		color: #333333;
		font-size: 14px;
		background: #f5f4f4;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		border-left: 0;
		border-right: 0;
		font-family: "Century Gothic W01", san-serif;
		&:after {
			border-left: 10px solid #f5f4f4;
		}
		&:hover {
			background: #9da6ae;
			color: #fff;
			font-family: "Century Gothic W01 Bold", san-serif;
			&:after {
				border-left: 10px solid #9da6ae !important;
			}
			.steps.btn:not(:last-child):before, .steps.btn:not(:last-child):after {
				border-left: 10px solid #005581 !important;
			}
		}
		&.active {
			background: #9da6ae;
			color: #fff;
			font-family: "Century Gothic W01 Bold", san-serif;
			&:after {
				border-left: 10px solid #9da6ae !important;
			}
		}
	}
}

.fa-red {
  color: red;
}

.fa-blue {
  color: #005581;
}

.feature_table{
	margin-bottom:10px;
}
.feature_table tr td{
	padding-bottom:20px;
	vertical-align:top;
	text-align:left;
}
.feature_table .icon_col {
	width:65px;
}
.feature_table tr td h3{
	margin-top:0px;
}
