<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <h1>Redirecting...</h1>
  <a href="/us/en/">Click here if you are not redirected.<a>

    <!-- modal -->
    <div id="choose-locale" class="md-modal md-effect">
      <div class="md-content">
        <h3>Choose your country and language</h3>
        <ul>
          <li><a href="/us/en">United States, English</a></li>
          <li><a href="/us/en">Australia, English</a></li>
          <li><a href="/fr/en">France, English</a></li>
          <li><a href="/fr/fr">France, French</a></li>
        </ul>
      </div>
    </div>
    <div class="md-overlay"></div>
  </body>
</html>
